@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;400;500;600;700;800;900&display=swap');

:root {
    --navHeight: 70px;
    --main-color: rgb(222, 138, 255);
    --subtxt-color: rgba(255, 255, 255, 0.7);
    --txt-color: rgb(255, 255, 255);
    --bg-color: rgba(0, 0, 0, 1);
    --slider-color: rgb(65, 65, 65);
}

.light-mode {
    --subtxt-color: rgba(0, 0, 0, 0.7);
    --txt-color: rgb(0, 0, 0);
    --bg-color: rgb(255, 255, 255);
    --slider-color: rgb(218, 218, 218);
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.switch {
    width: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    position:absolute;
    top:20px;
    right:20px;
}
  
.switch div {
    position: relative;
    display: block;
    background: var(--slider-color);
    width: 50px;
    border-radius: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}
  
.switch input {
    display: none;
}
  
.slider {
    background-color: #999;
    transition: 0.4s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
}
  
input:checked + .slider {
transform: translateX(28px);
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-container {
    flex-basis: 100%;
}

.main-header {
    color: var(--txt-color);
    font-size: 5.5rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 1rem;
    margin: 0;
}

.header-subtext {
    color: var(--subtxt-color);
    font-size: 2.5rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    text-align: center;
    display: block;
    margin: 0;
}

.main-color {
    color: var(--main-color)
}

.contacts {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .main-header {
        font-size: 2.5rem;
    }
    .header-subtext {
        font-size: 1rem;
    }
}